body {
  background-color: black;
}

.posts, .comments {
  color: aliceblue;
  max-width: 800px;
  margin: 0 auto; /*to center the post again*/
  text-align: center;
  opacity: 1;
  transition: opacity 350ms ease-in-out; /* duration must match the delay in posts.js*/
}

.post, .comment {
  background-color: black;
  color: aliceblue;
  max-width: 800px;
  margin: 15px ; /*to center the post again*/
  text-align: center;
  border: 4px solid grey;
  border-radius: 1dvh;
  padding: 5px;
  opacity: 1;
}
.loading, .postsStatus {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}
.posts-list, .comments-list {
  list-style: none;
  padding-left: 0px
}

.image, .video {
  max-width: 800px;
  width: 90%;
  margin-bottom: 5px;
}

.commentIcon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;

}

.homeIcon {
  width: 40px;
  height: 40px;
  border: 4px solid aliceblue;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
}

h2, .postText {
  text-align: left;
  font-size: clamp(16px, 2vw, 20px);
  margin-left: 5%;
  margin-right: 5%;
  display: block;
}

.postHeader, .postFooter, .commentsHeader, .commentHeader {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  column-gap: 10px;
  font-size: clamp(12px, 2vw, 15px);
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.commentBody  {
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

.subreddit, .created {
  text-align: right;
}

.posts.fade-out, .comments.fade-out {
  opacity: 0;
}


